// Fonts
@import './normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '../js/components/Public/Register/index.scss';
@import '../js/components/Header/index.scss';
@import '../js/components/Public/SearchSalon/';
@import '../js/components/Private/UserBar/index.scss';

.login-page__block{
    flex-direction: column;
    max-width: 400px;
    display: flex;
    margin: auto;
}